django/venv
django/core/__pycache__
django/apps/*/__pycache__
django/apps/*/migrations

# Environmental File
django/.env.local

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*